{% import "../components/flash-messages.twig" as FlashMessages %}
{% spaceless %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ title|default("The Bicircle Shop") }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		{% if user and user.canAccessKeystone %}
			<link href="/keystone/styles/content/editor.min.css" rel="stylesheet">
		{% endif %}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		{% block css %}
            <link rel="stylesheet" href="{{ getCssStatic(section) }}">
        {% endblock %}
		{% block head %}{% endblock %}
	</head>
	<body class="l-body">
        {% block header %} {% endblock %}

		<main id="body" class="l-main l-main_page_{{section}}">
			{% block intro %}{% endblock %}
			{{ FlashMessages.renderMessages(messages) }}
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                    </div>
                </div>
            </div>
		</main>
        <div class="container">
            <section class="l-secondary-section">
                {% block secondarySection %}{% endblock %}
            </section>
        </div>
        {% block footer %}
		      {% include "../components/footer.twig" %}
        {% endblock %}
        {% block js %}
            <script src="{{ getJsStatic(section) }}"></script>
        {% endblock %}
        {% if (user is defined) and (user.canAccessKeystone) %}
			<script src="/keystone/js/content/editor.js"></script>
		{% endif %}

	</body>
</html>
{% endspaceless %}
