<aside class="aside-menu {{ classMix }}">
    <div class="aside-menu__heading">{{ heading }}</div>
    <ul class="aside-menu__list">
        {% for menuItem in items %}
            <li class="aside-menu__item">
                <a href="{{menuItem.href}}"
                    class="aside-menu__anchor"
                    title="{{menuItem.label}}">{{menuItem.label}}
                </a>
            </li>
        {% endfor %}
        </li>
    </ul>
</aside>
