<div class="product-card" data-js-component="product-card" data-js-component-lazy-init="true">
    <a href="/p/{{url}}" class="product-card__anchor">
        <div class="product-card__image-wrap">
            {% if noLazyImage %}
                <img class="product-card__image" src="{{image}}" alt="{{name}}">
            {% else %}
                {% include '../components/image-lazy.twig'
                    with {
                        mods: 'image-lazy_type_product-img',
                        src: image,
                        alt: name,
                        aspect: 1,
                        lazyInit: lazyInitImage | default(true)
                    }
                %}
            {% endif %}
        </div>
        <div class="product-card__info">
            <div class="product-card__name">
                {{name}}
            </div>
            <div class="product-card__price-wrap">
                <div class="product-card__price">
                    {{ formatMoney(price) }}
                </div>

                {% if oldPrice %}
                <div class="product-card__saved">
                    {{ calculatePercentage(price, oldPrice) }}
                </div>
                <div class="product-card__old-price">
                    {{ formatMoney(oldPrice) }}
                </div>
                {% endif %}
            </div>
        </div>
    </a>
    <!-- <div class="product-card__sticker product-card__sticker_type_new">
        <div class="product-card__sticker-text">
            NEW
        </div>
    </div> -->
</div>
